{% extends 'layouts/main.html' %}
{% block title %}Drawlog* - Application{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Drawlog* Application</h1>
</div>

<div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#step3" data-toggle="tab" class="networkModel" aria-controls="step3" role="tab" title="Configure model">
                            <span class="round-tab">
                                <i class="fas fa-atom"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Analysis">
                            <span class="round-tab">
                                <i class="far fa-chart-bar"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="step3">
                    <h3>Configure model</h3>
                    <p>
                        Below there is the model learned from
                        the eDBN.
                    </p>

                    <div class="col-md-12">
                        <div class="graph-toolbox">
                            <div class="toolbox-bar">
                                <div class="helper-box">

                                    <ul>
                                        <li>On Edit mode:</li>
                                        <li>Double click to create new node.</li>
                                        <li>Click two nodes to link them (directed).</li>
                                        <li>Double click an edge to delete it.</li>
                                    </ul>

                                </div>
                                <div class="button-toolbox helper-button">
                                    <i class="far fa-question-circle"></i>
                                    Helper
                                </div>
                                <div class="button-toolbox back-button">
                                    <i class="fas fa-undo"></i>
                                    Undo
                                </div>
                                <div class="button-toolbox resize-button">
                                    <i class="fas fa-compass"></i>
                                    Resize
                                </div>
                                <div class="button-toolbox redo-button">
                                    <i class="fas fa-redo-alt"></i>
                                    Redo
                                </div>
                                <input type="checkbox" id="switch-button-checkbox" data-toggle="toggle" data-on="Edit mode" data-off="View mode" data-style="width_extend button-toolbox switch-button" data-onstyle="danger my-red" data-offstyle="primary my-blue">
                            </div>

                            <div id="cy">
{#                                <div class="btn btn-sm btn-primary">Test</div>#}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4>Configure parameters</h4>

                        <div class="slider-group">
                            <div class="form-group">
                                Alpha (α)
                                <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                            </div>

                            <div class="form-group">
                                Beta (β)
                                <input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                            </div>

                            <div class="form-group">
                                Gamma (γ)
                                <input id="ex3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                            </div>

                            <div class="form-group">
                                Sigma (σ)
                                <input id="ex4" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                            </div>

                            <div class="form-group">
                                Theta (θ)
                                <input id="ex5" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                            </div>

                            <div class="form-group">
                                Threshold (ε) <b>10</b> <input id="ex6" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>1000</b>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary analyze pull-right">Continue</button>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="complete">
                    <h3>Scoring</h3>
                    <p>Plot to show the scores of each trace. Click on a trace!</p>

                    <svg id="example" style="height: 500px"></svg>

                    <div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="glyphicon glyphicon-remove"></i> Delete
  </button>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="true"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, ALL]"
       >
</table>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </section>
</div>


{% endblock %}

{% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.2/bootstrap-table.min.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/networkFn.js"></script>
    <script type="text/javascript" src="/static/js/undo-redo.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    !-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.2/bootstrap-table.min.js"></script>

    <script>
        $(document).ready(function () {

            var nodes = [
                        {% for n in network.model.raw_nodes %}
                            { data: { id: '{{ n }}' } },
                        {% endfor %}
                    ];

            var conditional_dependencies = [
                {% for s, d in network.model.raw_CD %}
                    { data: { id: '{{ s+d }}', weight: 1, source: '{{ s }}', target: '{{ d }}' } },
                {% endfor %}
            ];

            var functional_dependencies = [
                {% for s, d in network.model.raw_FD %}
                    { data: { id: '{{ s+d }}', weight: 2, source: '{{ s }}', target: '{{ d }}' } },
                {% endfor %}
            ];

            initializeCY(nodes, conditional_dependencies, functional_dependencies);
    });
    </script>
{% endblock %}
